{% extends "tease.twig" %} {% block content %} 
<a href="{{ post.link }}">
{% if post.thumbnail.src %}
  <img class="blog-thumbnail" src="{{ post.thumbnail.src }}" />
  {% endif %}
  <div class="blog-imageOverlay">
    <h2 class="h2">{{ post.title }}</h2>
    <p class="blog-date">{{ post.date }}</p>
  </div>
</a>
{% endblock %}
